# Created by venv; see https://docs.python.org/3/library/venv.html
# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
.env/

# Django
*.log
staticfiles/
media/
local_settings.py

# Base de datos SQLite
db.sqlite3

# Visual Studio Code
.vscode/


