{% load static %}
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0 px-lg-5" style="background-color: #7a9ccc;">

        <a href="#" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-white d-flex align-items-center">
                <img src="{% static 'img/Escudo-UCN-Full-blanco_trans.png' %}" alt="Escudo UCN" style="height: 40px;"
                    class="me-2">
                EduSalud UCN
            </h1>
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">

                <a href="{% url 'core:home' %}" class="nav-item nav-link text-white">Inicio</a>
                <a href="{% url 'cursos:lista' %}" class="nav-item nav-link text-white">Cursos</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="#" class="dropdown-item">Instructors</a>
                        <a href="#" class="dropdown-item">Testimonial</a>
                    </div>
                </div>

                <a href="#" class="nav-item nav-link text-white">Contacto</a>
            </div>

            {% if user.is_authenticated %}
            <a href="{% url 'gestiondeusuarios:logout' %}" class="btn btn-light py-2 px-4 d-none d-lg-block">
                Cerrar sesión
            </a>
            {% else %}
            <a href="{% url 'gestiondeusuarios:login' %}" class="btn btn-light py-2 px-4 d-none d-lg-block">
                Iniciar Sesión
            </a>
            {% endif %}
        </div>
    </nav>
</div>
<!-- Navbar End -->